<div class="auth-container">
  <!-- Logo -->
  <div class="welcome-section" [class.slide-left]="animateOut">
    <img src="/assets/biatit.jpg" alt="Smarty Monitoring Logo" class="logo" />
    <p>Secure monitoring made simple.</p>
  </div>

  <!-- Login form -->
  <div class="form-section" [ngClass]="{
       'remove-clip': clipRemoved,
       'slide-right': animateOut
     }">

    <div class="box">
      <h2>Login</h2>
      <div class="input-group">
        <div class="input-field">
          <input type="text" [(ngModel)]="email" placeholder="Email" />
        </div>
        <div class="input-field">
          <input type="password" [(ngModel)]="password" placeholder="Password" />
        </div>
      </div>
      <button (click)="login()" id="removeClipBtn">Secure Login</button>
      <p class="switch">
        Forgot your credentials? <span (click)="onNeedHelp()">Need Help?</span>
      </p>
    </div>
  </div>
</div>